.box {
	width: 25%;
	height: 100px;
	float:left;
}
.amarillo{
	background-color: #ffff00;
}
.azul{
	background-color: #3a81ba;
}
.rosado{
	background-color: #ed2251;
}
.content{
	border: 1px solid grey;
	background-color: white;
}
.clearfix{
	overflow: auto;
	zoom: 1;
}